
        .box{
            height: 200px;
            width : 90%;
            border: 2px solid black;
            background-color: aliceblue;
            
            justify-content: center;
        }
        .header{
            display: block;
            padding: 10px;
            height: 60px;
            width: 97.8%;
            background-color: rgb(207, 205, 205);
            color: black;
            text-align: center;
            
        }
        
        .lower-block li{
            display: inline-block;
            margin-right: 10px;
        }
        span{
            color: red;
        }
    
    
