*{
    margin:0%;
    padding: 0%;
}
.container{
    display: flex;
    border: 8px solid black;
    height: 500px;
    width: 90%;
    margin-left: 30px;
    margin-top: 50px;
    
}
.c{
    box-shadow: 0 4px 6px rgba(1,1,1,1);
    margin-right: 28%;
    border: 2px solid grey;
    margin:50px;
    height: 300px;
    padding:40px;
    width:300px;

}
.photo{
    border-radius: 70%;
    background-color: blue;
    gap: 33%;
    height: 180px;
}